.carousel-item{
    height: 500px;
}
.carousel-image-1{
    background-image:url('images/robert.jpg');
    background-size: cover;
}
.carousel-image-2{
    background-image:url('images/Messi.jpg');
    background-size: cover;
}
.carousel-image-3{
    background-image:url('images/Haaland.jpg');
    background-size: cover;
}
#about{
    min-height: 200px;
    position: relative;
    background-image: url(https://images2.minutemediacdn.com/image/upload/c_fill,w_912,h_516,f_auto,q_auto,g_auto/shape/cover/sport/fbl-ballon-d-or-2019-award-5de5875a6bb2bad511000004.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    background-attachment: fixed;
}
.dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100% ;
    height: 100%;
}